*{
    margin: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    padding: 1em;
}
h3{
    margin-top: 1em;
    color:#8b5e3c;
}
h1{
    text-align: center;
    padding: .5em;
    color: lightgreen;
}
.form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#iframe{
    padding-top: 5em;
    text-align: center;
}
footer{
    text-align: center;
    padding-top: 2em;
}
body{
    background-image: url(bgimg1.jpg);
    background-size: cover;
    background-position: center;
    height: 60em;
    color:aliceblue;
}
a:hover{
    color: red;
}
a{
    color: aliceblue;
}