body {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

}

.landing {
    background-image: url(bg\ img.jpg);
    background-size: cover;
    background-position: center;
    height: 120vh;
    color: white;
}

header {
    display: flex;
    padding: 1em;
}

h1 {
    flex: 1;
}

nav {
    margin: 1em;
}

.maintext {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    padding: 5em;
}

.tagline1 {
    font-size: 3em;
    font-weight: bolder;
    font-style: italic;
    color: lightgreen;
}

.tagline2 {
    margin-top: 1em;
    padding: 1em;
    color: #8b5e3c;
}

button {
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
    background-color: yellow;
}

button:hover {
    color: white;
    font-weight: bold;
    background-color: brown;

}

footer {
    text-align: center;
    background-color: rgb(200, 194, 194);
    padding: 1em;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}